<div class="row mt-2 application color-background hover-dark imitate-btn rounded-border">
  <div class="col-2 py-2" data-id="{{id}}">
    <!-- Need to figure out how to format the 'createdAt' date -->
    <p class="text-center m-0 light" data-id="{{id}}">{{formatDate createdAt}}</p>
  </div>
  <div class="col-4 py-2" data-id="{{id}}">
    <p class="text-center m-0 light" data-id="{{id}}">{{company}}</p>
  </div>
  <div class="col-4 py-2" data-id="{{id}}">
    <p class="text-center m-0 light" data-id="{{id}}">{{role}}</p>
  </div>
  <div class="col-2 py-2" data-id="{{id}}">
    <!-- Need a 'source' column on the application table -->
    <p class="text-center m-0 light" data-id="{{id}}">{{link}}</p>
  </div>
</div>