<div class="row mt-2 application">
  <div class="col-2 py-2">
    <!-- Need to figure out how to format the 'createdAt' date -->
    <p class="text-center m-0 app-text" data-id="{{id}}">04/12/2020</p>
  </div>
  <div class="col-4 py-2">
    <p class="text-center m-0 app-text" data-id="{{id}}">{{company}}</p>
  </div>
  <div class="col-4 py-2">
    <p class="text-center m-0 app-text" data-id="{{id}}">{{role}}</p>
  </div>
  <div class="col-2 py-2">
    <!-- Need a 'source' column on the application table -->
    <p class="text-center m-0 app-text" data-id="{{id}}">LinkedIn</p>
  </div>
</div>