<!-- Change background color -->
<style>
  body {background:#cbbcb1;}
</style>
<div class="container py-5">
    <!-- Company and role -->
    <div class="row justify-content-center mt-5">
      <div class="col-8 p-3 green-background rounded-border">
        <h1 class="text-center display-3 light mono-font">{{company}}</h1>
        <h4 class="text-center light mono-font mt-4">{{role}}</h4>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-10 p-3 light-background rounded-border">
        <a class="edit-btn float-end">Edit</a>
        <div class="row justify-content-around">
          <div class="col-10 mb-4 text-center date dark"><span class="bold fs-5">Application Date: </span><span id="app-date">{{date}}</span></div>
          <div class="col-4">
            <h6 class="text-center text-decoration-underline fs-4 mono-font dark">Status</h6>
            <p class="text-center data-field dark">{{status}}</p>
          </div>
          <div class="col-4">
            <h6 class="text-center text-decoration-underline fs-4 mono-font dark">Source</h6>
            <p class="text-center data-field dark">{{link}}</p>
          </div>
          <div class="col-4">
            <h6 class="text-center text-decoration-underline fs-4 mono-font dark">Next Step</h6>
            <p class="text-center data-field dark">Wait for response</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-10 p-3 light-background rounded-border">
        <h3 class="m-3 p-2 mono-font dark">Notes:</h3>
        <div class="m-3 p-2">
          {{#each notes}}
          {{> note-block}}
          {{/each}}
        </div>
      </div>
    </div>

  </div>