<style>
  body { background: #cbbcb1; }
</style>
<div class="container py-5">
    <!-- Company and role -->
    <div class="row justify-content-center mt-5">
      <div class="col-8 p-3 green-background rounded-border">
        <h1 class="text-center display-3 light mono-font">{{app.company}}</h1>
        <h4 class="text-center light mono-font mt-4">{{app.role}}</h4>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-10 p-3 light-background rounded-border">
        <a class="edit-btn float-end imitate-btn" id="edit-application" data-bs-toggle="modal" data-bs-target="#edit-form">Edit</a>
        <div class="row justify-content-around">
          <div class="col-10 mb-4 text-center fs-5 dark"><span class="bold color">Application Date: </span><span id="app-date">{{formatDate app.createdAt}}</span></div>
          <div class="col-4">
            <h6 class="text-center text-decoration-underline dark fs-5">Status</h6>
            <p class="text-center data-field color">{{app.status}}</p>
          </div>
          <div class="col-4">
            <h6 class="text-center text-decoration-underline dark fs-5">Source</h6>
            <p class="text-center data-field color">
              <a href="{{app.jobsitelink}}" target="_blank" rel="noopener noreferrer">{{app.jobsitelink}}</a>
            </p>
          </div>
          <div class="col-4">
            <h6 class="text-center text-decoration-underline dark fs-5">Recruiter</h6>
            <p class="text-center data-field color">{{app.recruiterName}}</p>
          </div>
        </div>
      </div>
    </div>

{{!-- Create modal for editing an application --}}
  <div class="modal mt-5" tabindex="-1" id="edit-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mono-font dark">Edit Current Application</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Input Fields -->
        <div class="modal-body">
          <p class="mb-1 mono-font dark">Status</p>
          <div class="form-check mb-3">
            <input type="radio" class="form-check-input" name="flexRadioDefault" id="status1" value="Applied">
            <label class="form-check-label" for="status1" value="Applied">Applied</label>
          </div>
          <div class="form-check mb-3">
            <input type="radio" class="form-check-input" name="flexRadioDefault" id="status2" value="Recruiter Responded">
            <label class="form-check-label" for="status2" value="Recruiter Responded">Recruiter Responded</label>
          </div>
          <div class="form-check mb-3">
            <input type="radio" class="form-check-input" name="flexRadioDefault" id="status3" value="Interview Scheduled">
            <label class="form-check-label" for="status3" value="Interview Scheduled">Interview Scheduled</label>
          </div>
          <div class="form-check mb-3">
            <input type="radio" class="form-check-input" name="flexRadioDefault" id="status4" value="Interview Completed">
            <label class="form-check-label" for="status4" value="Interview Completed">Interview Completed</label>
          </div>
          <div class="form-check mb-3">
            <input type="radio" class="form-check-input" name="flexRadioDefault" id="status5" value="Offer Made">
            <label class="form-check-label" for="status5" value="Offer Made">Offer Made</label>
          </div>
          <div class="form-check mb-3">
            <input type="radio" class="form-check-input" name="flexRadioDefault" id="status6" value="Rejection">
            <label class="form-check-label" for="status6" value="Rejection">Rejection</label>
          </div>
          <p class="mb-1 mono-font dark">Source (Must be a URL)</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{app.jobsitelink}}" id="edit-source">
          </div>
          <p class="mb-1 mono-font dark">Company</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{app.company}}" id="edit-company">
          </div>
          <p class="mb-1 mono-font dark">Role</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{app.role}}" id="edit-role">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary dark-btn" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary dark-btn" id="save-edits">Save Edits</button>
        </div>
      </div>
    </div>
  </div>

    <div class="row justify-content-center mt-4">
      <div class="col-10 p-3 light-background rounded-border">
        <a class="edit-btn float-end imitate-btn" data-bs-toggle="modal" data-bs-target="#new-note-form">Add New Note</a>
        <h3 class="m-3 p-2 mono-font dark text-center">- Notes -</h3>
        <div class="m-3 p-2">
          {{#each notes}}
           {{> note-block}}
          {{/each}}
        </div>
      </div>
    </div>

    {{!-- Create modal for updating a note --}}
  <div class="modal mt-5" tabindex="-1" id="edit-note-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mono-font dark">Edit Note</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Input Fields -->
        <div class="modal-body">
          <p class="mb-1 mono-font dark">Note ID (Enter currently attached ID)</p>
          <div class="input-group mb-3">
          <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" value="{{note.id}}" id="edit-noteID">
          </div>
          <p class="mb-1 mono-font dark">Note Body</p>
          <div class="input-group">
            <textarea class="form-control" style="height:150px;" aria-label="With textarea" value="{{notes.body}}" id="edit-noteBody"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary dark-btn hover-dark" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary dark-btn hover-dark" id="note-edits">Save Note Edits</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    {{!-- Create modal for creating a note --}}
  <div class="modal mt-5" tabindex="-1" id="new-note-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mono-font dark">New Note</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Input Fields -->
        <div class="modal-body">
          <p class="mb-1 mono-font dark">Note Body</p>
          <div class="input-group">
            <textarea class="form-control" style="height:150px;" aria-label="With textarea" id="new-noteBody"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary dark-btn hover-dark" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary dark-btn hover-dark" id="add-note">Save New Note</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="../../js/application.js"></script>