<div class="container py-5">
    <!-- Company and role -->
    <div class="row justify-content-center mt-5">
      <div class="col-8 p-3 green-background rounded-border">
        <h1 class="text-center display-3 light mono-font">{{company}}</h1>
        <h4 class="text-center light mono-font mt-4">{{role}}</h4>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-10 p-3 info-section">
        <a class="edit-btn float-end" id="edit-application" data-bs-toggle="modal" data-bs-target="#edit-form">Edit</a>
        <div class="row justify-content-around">
          <div class="col-10 mb-4 text-center date dark">Application Date: <span id="app-date">{{date}}</span></div>
          <div class="col-4">
            <h6 class="text-center text-decoration-underline">Status</h6>
            <p class="text-center data-field">{{status}}</p>
          </div>
          <div class="col-4">
            <h6 class="text-center text-decoration-underline">Source</h6>
            <p class="text-center data-field">{{jobsitelink}}</p>
          </div>
          <div class="col-4">
            <h6 class="text-center text-decoration-underline">Next Step</h6>
            <p class="text-center data-field dark">Wait for response</p>
          </div>
        </div>
      </div>
    </div>

{{!-- Create modal for editing an application --}}
  <div class="modal mt-5" tabindex="-1" id="edit-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Current Application</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Input Fields -->
        <div class="modal-body">
          <p class="mb-1">Status</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="edit-status">
          </div>
          <p class="mb-1">Source (Must be a URL)</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="edit-source">
          </div>
          <p class="mb-1">Company</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="edit-company">
          </div>
          <p class="mb-1">Role</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="edit-role">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary modal-btn" id="save-edits">Save Edits</button>
        </div>
      </div>
    </div>
  </div>




    <div class="row justify-content-center mt-4">
      <div class="col-10 p-3 light-background rounded-border">
        <h3 class="m-3 p-2 mono-font dark">Notes:</h3>
        <div class="m-3 p-2">
          {{#each notes}}
           {{> note-block}}
          {{/each}}
        </div>
      </div>
    </div>

    {{!-- Create modal for updating a note --}}
  <div class="modal mt-5" tabindex="-1" id="edit-note-form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Note</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Input Fields -->
        <div class="modal-body">
          <p class="mb-1">Note Body</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="edit-noteBody">
          </div>
          <p class="mb-1">Note ID (Enter currently attached ID)</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="edit-noteID">
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary modal-btn" id="note-edits">Save Note Edits</button>
        </div>
      </div>
    </div>
  </div>

  </div>
  <script src="../../js/application.js"></script>